@import "tailwindcss";

:root {
  --color-primary-50:  #fdf4ff;
  --color-primary-200: #f5d0fe;
  --color-primary-500: #a21caf;
  --radius-card: 16px;
}


.mm-dialog[open] {
  inset: 0;             /* center inside viewport */
  margin: auto;
  padding: 0;
}

.mm-dialog::backdrop {
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(2px);
}